{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./public/css/style.css",
  "tailwindAttributes": ["class", "className", "ngClass"],
  "tailwindFunctions": ["tw"],
  "overrides": [
    {
      "files": "app/Views/**/*.php",
      "options": {
        "parser": "html"
      }
    }
  ]
}
