{
  "plugins": ["prettier-plugin-tailwindcss", "@prettier/plugin-php"],
  "tailwindStylesheet": "./public/css/style.css",
  "tailwindAttributes": ["class", "className", "ngClass"],
  "tailwindFunctions": ["tw"],
  "printWidth": 120,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "app/Views/**/*.php",
      "options": {
        "parser": "html"
      }
    }
  ]
}
