@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

*,
::after,
::before,
::backdrop,
::file-selector-button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 solid;
}

body {
  width: 100vw;
  height: 100vh;
}

@utility menu-item {
  @apply relative flex items-center gap-3 rounded-lg px-3 py-2 font-medium;
}

@utility menu-item-active {
  @apply bg-[#465fff]/25 text-[#7592ff];
}

@utility menu-item-inactive {
  @apply text-gray-300 hover:bg-white/10 hover:text-gray-300;
}
